@use '../../modules/mixins';

#sign-in, #sign-up{
   margin: 0 auto;
   padding: 3rem 0;
}

#sign-in {
   width: 40%;

   .section-title{
      padding: 0 0 4rem 0;
   }
   
   .form-content{
      .btn{
         margin: 5rem auto 1.75rem auto;
      }
   }

   span{
      margin-bottom: 1rem;
   }
}

@include mixins.second-small-screen{
   #sign-in{
      width: 80%;
   }
}