@use '../../modules/mixins';

.sign-up{
   width: 70%;

   .form-content{
      .btn{
         margin: 2rem auto 1.5rem auto;
      }
   }

   .flex-content {
      display: flex;
      gap: 3rem;

      .input-content{
         width: 100%;
      }
   }

   span{
      margin-bottom: 2.5rem;
   }
}

@include mixins.second-small-screen{
   .sign-up{
      width: 80%;

      .flex-content{
         flex-direction: column;
         gap: 0rem;
      }

      .input-content:nth-child(2){
         .form__box:nth-child(1){
            margin: 0;
         }
      }

   }
}
