@use '../../base/variables';
@use '../../modules/displays';

.register-login{
   @extend %box-size;
}

.tabs{
   padding: 1.5rem 5rem;

   .tab-links{
      padding: 3rem 1rem 0 1rem;
      display: flex;
      justify-content: center;
      gap: 4rem;
      
      &__login, &__signup{
         background-color: transparent;
         border: 0;
         cursor: pointer;
         font-family: 'Inter', sans-serif;
         font-size: 1rem;
         padding: 1rem;
         transition: .2s;
         position: relative;
         width: 120px;

         &:hover{
            color: variables.$secondary-color;
         }

         &::after{
            content: '';
            background-color: variables.$secondary-color;
            height: 2px;
            position: absolute;
            top: 3.2rem; 
            left: 0;
            width: 0;
            transition: .3s
         }

         &:hover::after,
         &.active::after{
            width: 100%;
         }
      }
   }

   .line{
      width: 50%;
      margin: 0 auto;
   }
}