*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
}

p {
  color: rgba(34, 34, 34, 0.8);
  font-family: "Istok Web", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
a:hover {
  color: #EF4056;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: 0;
}

input, textarea {
  outline: 0;
}

.btn {
  background-color: transparent;
  border: 1px solid #EF4056;
  border-radius: 0.5rem;
  color: #EF4056;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  padding: 1rem 3.25rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: #EF4056;
  color: #FFFFFF;
}

#header, #introduce, #about-us, #talk-us {
  display: flex;
  justify-content: center;
}

.talk-us-content, .about-us-content, .introduce-content, .header-content {
  width: 100%;
  max-width: 1366px;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#header, #introduce, #about-us, #talk-us {
  font-family: "Inter", sans-serif;
}

.header-content {
  padding: 1.5rem 2rem;
}
.header-content__logo {
  font-weight: 700;
  font-size: 1.5rem;
}
.header-content__menu {
  display: flex;
}
.header-content__menu__item {
  padding: 0 1.5rem;
}
.header-content__menu__item a:hover {
  color: #EF4056;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.3);
}

.introduce-content {
  text-align: center;
  padding: 8rem 0;
}
.introduce-content__h2 {
  font-size: 2.5rem;
}
.introduce-content__p {
  margin: 2.5rem 0;
}

.about-us-content {
  padding: 1rem 4rem 6rem 4rem;
}
.about-us-content__title {
  text-align: center;
  padding: 2.5rem 0;
}
.about-us-content__title__p {
  padding: 2rem 0 2.5rem 0;
}

.about-us__info {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.about-us__info__box {
  border: 1px solid rgba(34, 34, 34, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  width: 500px;
  transition: 0.3s;
}
.about-us__info__box:hover {
  background-color: #EF4056;
}
.about-us__info__box:hover .about-us__info__box__title {
  color: #FFFFFF;
}
.about-us__info__box:hover .about-us__info__box__title svg path, .about-us__info__box:hover .about-us__info__box__title svg rect, .about-us__info__box:hover .about-us__info__box__title svg circle {
  stroke: #FFFFFF;
}
.about-us__info__box:hover .about-us__info__box__image {
  background-color: rgba(160, 70, 82, 0.5);
}
.about-us__info__box:hover .about-us__info__box__p {
  color: rgba(255, 255, 255, 0.8);
}
.about-us__info__box__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about-us__info__box__image {
  background-color: rgba(239, 64, 86, 0.5);
  border-radius: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  width: 60px;
}
.about-us__info__box__p {
  padding: 1rem 0;
}

.talk-us-content {
  padding: 2rem 4rem 6rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talk-us-content__title {
  text-align: center;
  padding: 2.5rem 0;
}
.talk-us-content__title__p {
  padding: 2rem 0 2rem 0;
}
.talk-us-content__form {
  width: 45%;
  font-family: "Inter", sans-serif;
}
.talk-us-content__form__box + .talk-us-content__form__box {
  margin-top: 3rem;
}
.talk-us-content__form__box label {
  display: inline-block;
  margin-bottom: 0.4rem;
}
.talk-us-content__form__box input, .talk-us-content__form__box textarea {
  border: 1px solid rgba(34, 34, 34, 0.3);
  border-radius: 0.5rem;
  font-family: "Istok Web", sans-serif;
  padding-left: 1rem;
  width: 100%;
  height: 55px;
}
.talk-us-content__form__box input:focus, .talk-us-content__form__box textarea:focus {
  border: 1px solid #EF4056;
}
.talk-us-content__form__box textarea {
  padding-top: 1rem;
  height: 150px;
  resize: none;
}
.talk-us-content__form__btn {
  padding: 1.25rem 4.5rem;
  margin-top: 4rem;
}

/*# sourceMappingURL=main.css.map */
