@use '../../../../public/scss/base/variables';

body.dark {      
    a {
        color: variables.$primary-color;
    }
}

.vent-footer-content{
    display: flex;
    align-items: center;
    padding: 2.25rem 0;
    gap: 6rem;
    justify-content: center;

    &__nav {
        display: flex;
        gap: 2.5rem;
    }
}