                <div class="line"></div>
                <footer id="footer">
                    <div class="vent-footer-content">
                        <span> © Pronto, Falei - 2024</span>
                        <nav class="vent-footer-content__nav">
                            <a href=""><li class="list-item">Home</li></a>
                            <a href=""><li class="list-item">Desabafar</li></a>
                            <a href=""><li class="list-item">Ajuda</li></a>
                        </nav>
                    </div>
                </footer>
            </div>
        </div>