@use '../../base/variables';

body.dark {
    .sidebar-content{
        &__menu {
            path  {
                stroke: variables.$primary-color;
            }
        }

        .sidebar__list-item + .sidebar__list-item{
            svg path, svg ellipse {
                stroke: variables.$primary-color;
            }

            span {
                transition: .3s;
            }

            &:hover {
                svg path, svg ellipse {
                    stroke: variables.$secondary-color;
                }

                span {
                    color: variables.$secondary-color;
                }
            }            
        }
    }
}

.all-content{
    display: flex;
    
    &.active {
        .sidebar-content {
            width: 180px;

            .sidebar__list {
                &-item {
                    a {
                        span {
                            display: block;
                        }
                    }
                }
            }
        }

        .main-box{
            margin-left: 11.25rem;
        }
    }

}

.sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    height: 88vh;
    width: 90px;

    &__menu {
        cursor: pointer;
        margin-top: 2rem;
    }

    .sidebar__list{
        &-item {
            padding: 1rem 0;

            a {
                display: flex;
                gap: .5rem;
                border-radius: 2rem;
                padding: .5rem;
                align-items: center;
                
                svg path, svg ellipse {
                    transition: .3s;
                }
                
                &:hover {
                    svg path, svg ellipse {
                        stroke: variables.$secondary-color;
                    }
                }
                
                span {
                    display: none;
                }
            }
        }

        &-item:first-child{
            a {
                background-color: rgba(239, 64, 86, 0.2); 

                .active-tab {
                    color: variables.$secondary-color;
                }
            }
        }
    }

    .moon{
        background: url('../../../assets/images/dark.png') no-repeat center / cover;
        border-top: 1px solid variables.$line-color;
        cursor: pointer;
        text-align: center;
        padding: 2.5rem 0;
        width: 100%;
    }
}