@use '../../base/variables';

.all-content{
    display: flex;
}

.sidebar-content{
    border-right: 1px solid variables.$line-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    height: 100%;
    width: 120px;

    &__menu {
        cursor: pointer;
        margin-top: 2rem;
    }

    .sidebar__list{
        &-item {
            padding: 1rem 0;

            a {
                display: flex;
                gap: .5rem;
                border-radius: 2rem;
                padding: .5rem;
                align-items: center;
                
                svg path, svg ellipse {
                    transition: .3s;
                }

                &:hover {
                    svg path, svg ellipse {
                        stroke: variables.$secondary-color;
                    }
                }

                span {
                    display: none;
                }
            }
        }

        &-item:first-child{
            a {
                background-color: rgba(239, 64, 86, 0.2); 

                .active-tab {
                    color: variables.$secondary-color;
                }
            }
        }
    }

    .sidebar-dark-mode{
        background: url('../../../assets/images/dark.png') no-repeat center / cover;
        border-top: 1px solid variables.$line-color;
        cursor: pointer;
        text-align: center;
        padding: 2.5rem 0;
        width: 100%;
    }
}

.sidebar-content.active{
    width: 200px;

    .sidebar__list {
        &-item{
            a {
                
                span {
                    display: block;
                }
            }
        }
    }
}