@use '../../base/variables';
@use '../../modules/mixins';
@use '../../modules/displays';

body.dark {
    .tabs {
        &-links {
            button {
                color: variables.$primary-color;
            }
        }
        
        .tab-content {
            .vent-box {
                border: 1px dashed variables.$github-color;
            }

            .vent-box__header p, .vent-box__title{ 
                color: variables.$primary-color;
            }
        }
    }

    #vents {
        .text-header {
            &__title {
                color: variables.$primary-color;
            }

            &__subtitle {
                color: rgba(206, 206, 206, 0.5);
            }
        }
    }
}

.main-box{
    margin-left: 5.65rem;
    width: 100%;
    transition: .5s;
    border-left: 1px solid variables.$line-color;
}

.vent-content{
    padding: 8rem 5rem 8rem 10rem;
    align-items: center;
    @extend %center-display;

    .menu-content{
        background-color: red($color: #000000);
    }

    .tabs {
        &-links{

            button.active {
                color: variables.$secondary-color;

                &::before {
                    width: 100%;
                }
            }

            button {
                background-color: transparent;
                font-family: 'Inter', sans-serif;
                font-size: .9rem;
                padding: 1rem 2rem;
                position: relative;
                transition: .3s;

                &:first-child {
                    margin: 0 2.25rem;
                }

                &:hover {
                    color: variables.$secondary-color;
                }

                &:hover::before{
                    width: 100%;
                }

                &::before {
                    content: '';
                    background-color: variables.$secondary-color;
                    display: block;
                    position: absolute;
                    top: 3rem;
                    left: 0;
                    height: 1px;
                    transition: .3s;
                    width: 0%;
                }
            }
        }

        .line {
            width: 80%;
            margin-bottom: 4rem;   
        }

        .tab-content{
            .vent-box {
                box-shadow: 1px 3px 10px variables.$line-color;
                border-radius: 1rem;
                margin-bottom: 3rem;
                padding: 1.5rem 2rem 2rem 2rem;
                transition: .3s;
                min-width: 500px;
                max-width: 1000px;
                width: 92%;

                &:hover {
                    transform: scale(1.025);
                }

                &__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__profile {
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;

                        img {
                            width: 3.12rem;
                            border-radius: 2rem;
                        }

                        p {
                            font-family: 'Inter';
                            font-weight: 600;
                            color: variables.$github-color;
                        }
                    }

                    &__tags{
                        span {
                            background-color: red;
                            color: variables.$primary-color;
                            margin-left: 1rem;
                            border-radius: 1rem;
                            padding: .5rem 1rem;
                        }
                    }
                }

                &__title {
                    padding: 1.5rem 0;
                }

                &__p {
                    font-family: 'Inter', sans-serif;
                    line-height: 1.75;
                }
            }
        }
    }

    #vents {
        width: 950px; // consertar esta parte
        
        .vents-form {
            div {
                outline: 0;
                width: 100%;
            }

            .text-header{
                margin-bottom: 2rem;

                div {
                    font-size: 1rem;
                    font-family: 'Inter';
                }
                
                div:first-child{
                    font-size: 2rem;
                    padding: .5rem 0;
                    font-weight: 700;
                }
            }

            .main-text{
                font-size: 1rem;
                font-family: 'Istok Web', sans-serif;
                padding: 1rem;
                margin-bottom: 3rem;
            }

            .vent-btn {
                position: absolute;
                top: 1.35rem;
                right: 11rem;
                padding: 1rem 3.5rem;
            }
        }
    }
}