#profile {
    #sign-up {
        width: 90%;
        
        .buttons {
            display: flex;
            justify-content: center;
            margin: 1rem 0 0 0;
            
            .btn {
                width: 260px;
                padding: 1.25rem 0;
                margin: 1rem;
            }
        }
    }
}