.update-image{
    position: relative;

    #user-photo {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        display: block;
        margin: 3rem auto 4rem auto;
    }

    label {
        cursor: pointer;
        position: absolute;
        bottom: .010rem;
        left: 30rem;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;

    .btn-style {
        border: 1px solid salmon;
        padding: 1rem 3rem;
    }

    .btn-delete {
        border: 1px solid red;
        color: red;
    }
}

// arrumar os botões para que fiquem com o estilo correto