@use '../../../../public/scss/base/variables';
@use '../../../../public/scss/modules/displays';
@use '../../../../public/scss/modules/mixins';

body.dark {
   .change-bg {
      .moon {
         display: none;
      }

      .sun {
         display: block;
      }
   }
}

.footer-content{
   padding: 1.5rem 2rem;
   display: flex;
   @extend %box-size;
   @extend %default-display;

   &__social-medias{
      display: flex;
      
      &__box{
         margin-right: .5rem;
         cursor: pointer;

         svg { 
            path {
               transition: .5s;
            }
         }

         &:nth-child(1):hover{
            svg{
               fill: variables.$linkedin-color;

               path{
                  fill: variables.$primary-color;
               }
            }
         }

         &:nth-child(2):hover{
            svg{
               fill: variables.$github-color;

               path{
                  stroke: variables.$primary-color;
               }
            }
         }
      }

      .change-bg {
         svg {
            cursor: pointer;

            path {
               transition: .5s;
            }
         }

         .sun {
            display: none;
         }

         .moon:hover {
            path {
               fill: variables.$primary-color;
            }
            fill: variables.$moon-color;
         }

         .sun:hover {
            circle, path {
               stroke: variables.$primary-color
            }

            fill: variables.$sun-color;
         }
      }
   }
}

@include mixins.small-screen{
   .footer-content{
      flex-direction: column;

      &__p{
         order: 1;
      }
      
      &__social-medias{
         margin: 1.5rem 0;
      }
   }
}