@use '../base/variables';

%btn-style{
   background-color: transparent;
   border: 1px solid variables.$secondary-color;
   border-radius: .5rem;
   color: variables.$secondary-color;
   font-size: 1rem;
   font-family: 'Inter', sans-serif;
   padding: 1rem 3.25rem;
   transition: .3s;

   &:hover{
      background-color: variables.$secondary-color;
      color: variables.$primary-color;
   }
}