%center-display{
   display: flex;
   justify-content: center;
}

%box-size{
   width: 100%;
   max-width: 1366px;
}

%default-display{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
