@mixin message($color){
   color: $color;
   margin-top: .5rem;
   display: none;
}

@mixin small-screen{
   @media(max-width: 690px){
      @content
   }
};

@mixin second-small-screen{
   @media(max-width: 768px){
      @content
   }
}
