<header id="header">
   <div class="header-content">
      <a class="logo" href="/"> Pronto, Falei </a>
      <nav class="header-content__nav">
         <ul class="header-content__menu">
            <li class="header-content__menu__item"><a href="/">Home</a></li>
            <li class="header-content__menu__item"><a href="/login">Entrar</a></li>
         </ul>
      </nav>
      <svg class="header-content__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M5 7H19" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
         <path d="M5 12H19" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
         <path d="M5 17H19" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
      </svg>   
   </div>
</header>
<div class="line"></div>