*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

h1, h2, h3, h4 {
   font-family: 'Inter', sans-serif;
}

h3{
   text-align: center;
}

span{
   display: block;
   text-align: center;
   font-family: 'Inter';
}

p {
   color: rgba(34, 34, 34, 0.8);
   font-family: 'Istok Web', sans-serif;
}

body.dark{
   background-color: #0c0c0c;

   p {
      color: #c9c9c9b3;
   }

   h3{
      color: #FFF;
   }
}

b{
   color: #EF4056;
}

a {
   text-decoration: none;
   color: black;
   transition: .3s;

   &:hover{
      color: #EF4056;
   }
}

li {
   list-style: none;
}

button{
   cursor: pointer;
   outline: 0;
}

input, textarea {
   outline: 0;
}