$primary-color: #FFFFFF;
$secondary-color: #EF4056;
$secondary-color-hover: #ef405680;
$text-color: #222222CC;
$line-color: #2222224D;
$linkedin-color: #1373E5;
$github-color: #222222;
$moon-color: #7620E7;