        <header id="header">
            <div class="header-content">
                <a class="logo" href="/"> Pronto, Falei </a>
                <nav class="header-content__nav">
                    <div class="menu-box">
                        <div class="menu-box__search">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="12.1246" cy="12.0645" rx="7.32796" ry="7.31048" stroke="#cecece" stroke-width="2"/>
                                <path d="M21.5461 21.4637L18.4055 18.3306" stroke="#cecece" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                            <input type="search" name="search" placeholder="Search">
                        </div>
                        <img class="menu-box__profile" src="../../../assets/images/profile-photo.jpg" alt="Foto de perfil">
                        <div class="dropdown-menu">
                            <ul class="dropdown-menu__list">
                                <li class="dropdown-menu__list-item">
                                    <a href="">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 5.97818L12 17.9345" stroke="#222" stroke-width="2" stroke-linecap="round"/>
                                            <path d="M18 11.9564L6 11.9564" stroke="#222" stroke-width="2" stroke-linecap="round"/>
                                        </svg>
                                        <span>Desabafar</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu__list-item">
                                    <a href="">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.7274 20.4471C19.2716 19.1713 18.2672 18.0439 16.8701 17.2399C15.4729 16.4358 13.7611 16 12 16C10.2389 16 8.52706 16.4358 7.12991 17.2399C5.73276 18.0439 4.72839 19.1713 4.27259 20.4471" stroke="#222" stroke-width="2" stroke-linecap="round"/>
                                            <circle cx="12" cy="8" r="4" stroke="#222" stroke-width="2" stroke-linecap="round"/>
                                        </svg>
                                        <span>Perfil</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu__list-item">
                                    <a href="">
                                        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 12.5323L1.20615 11.9242L0.740321 12.5323L1.20615 13.1404L2 12.5323ZM11 13.5323C11.5523 13.5323 12 13.0846 12 12.5323C12 11.98 11.5523 11.5323 11 11.5323V13.5323ZM5.20615 6.70244L1.20615 11.9242L2.79385 13.1404L6.79385 7.91866L5.20615 6.70244ZM1.20615 13.1404L5.20615 18.3622L6.79385 17.146L2.79385 11.9242L1.20615 13.1404ZM2 13.5323H11V11.5323H2V13.5323Z" fill="#222"/>
                                            <path d="M10 8.49278V7.54148C10 5.93406 10 5.13034 10.4693 4.57227C10.9387 4.0142 11.7305 3.87637 13.3141 3.60073L14.9711 3.31231C18.2316 2.7448 19.8618 2.46104 20.9309 3.36014C22 4.25924 22 5.91397 22 9.22343V15.8414C22 19.1509 22 20.8056 20.9309 21.7047C19.8618 22.6038 18.2316 22.32 14.9711 21.7525L13.3141 21.4641C11.7305 21.1885 10.9387 21.0506 10.4693 20.4926C10 19.9345 10 19.1308 10 17.5234V16.7787" stroke="#222" stroke-width="2"/>
                                        </svg>
                                        <span>Sair</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="line"></div>