        <header id="header">
            <div class="header-content">
                <a class="logo" href="/"> Pronto, Falei </a>
                <nav class="header-content__nav">
                    <div class="menu-box">
                        <div class="menu-box__search">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="12.1246" cy="12.0645" rx="7.32796" ry="7.31048" stroke="#222222" stroke-width="2"/>
                                <path d="M21.5461 21.4637L18.4055 18.3306" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                            <input type="search" name="search" placeholder="Search">
                        </div>
                        <img src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-mlhor.jpeg" alt="Foto de perfil">
                    </div>
                </nav>
            </div>
        </header>
        <div class="line"></div>