            <div class="main-box">
                <main class="vent-content">
                    <div class="menu-content">
                        <section id="home">
                            <div class="tabs">
                                <div class="tabs-links">
                                    <button class="tab-links__recently" data-id="recently" data-open>Recentes</button>
                                    <button class="tab-links__others" data-id="others">Outros</button>
                                </div>
                                <div class="line">  </div>
        
                                <div class="tab-content">
                                    <section id="recently">  
                                        <a href="">
                                            <div class="vent-box">
                                                <header class="vent-box__header">
                                                    <div class="vent-box__header__profile">
                                                        <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                        <p> Matheus Pereira </p>
                                                    </div>
                                                    <div class="vent-box__header__tags">
                                                        <span> depressão </span>
                                                    </div>
                                                </header>
                                                <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                                <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                                            </div>
                                        </a>       
                                        <a href="">
                                            <div class="vent-box">
                                                <header class="vent-box__header">
                                                    <div class="vent-box__header__profile">
                                                        <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                        <p> Giovana Nunes </p>
                                                    </div>
                                                    <div class="vent-box__header__tags">
                                                        <span> família </span>
                                                        <span> traição </span>
                                                    </div>
                                                </header>
                                                <h1 class="vent-box__title">Fui traída pelo meu marido</h1>
                                                <p class="vent-box__p">Meu nome é Giovana, e hoje eu quero compartilhar uma parte da minha vida que foi extremamente dolorosa: fui traída pelo meu marido. Lembro-me claramente do momento em que descobri a traição, como se fosse ontem. Nós tínhamos construído uma vida juntos, com sonhos.....</p>
                                            </div>
                                        </a>                      
                                    </section>
                                    <section id="others">
                                        <a href="">
                                            <div class="vent-box">
                                                <header class="vent-box__header">
                                                    <div class="vent-box__header__profile">
                                                        <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                        <p> Matheus Pereira </p>
                                                    </div>
                                                    <div class="vent-box__header__tags">
                                                        <span> depressão </span>
                                                    </div>
                                                </header>
                                                <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                                <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                                            </div>
                                            <div class="vent-box">
                                                <header class="vent-box__header">
                                                    <div class="vent-box__header__profile">
                                                        <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                        <p> Matheus Pereira </p>
                                                    </div>
                                                    <div class="vent-box__header__tags">
                                                        <span> depressão </span>
                                                    </div>
                                                </header>
                                                <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                                <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                                            </div>
                                            <div class="vent-box">
                                                <header class="vent-box__header">
                                                    <div class="vent-box__header__profile">
                                                        <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                        <p> Matheus Pereira </p>
                                                    </div>
                                                    <div class="vent-box__header__tags">
                                                        <span> depressão </span>
                                                    </div>
                                                </header>
                                                <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                                <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                                            </div>
                                        </a>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <section id="vents">
                            <form class="vents-form">
                                <div class="text-header">
                                    <input type="text" name="title" placeholder="Coloque seu título aqui"><br/>
                                    <input type="text" name="subtitle" placeholder="Coloque seu subtítulo aqui"><br/>
                                </div>
                                <div class="main-text">
                                    <p> Escrever... </p>
                                </div>
                                <button class="btn vent-btn" value="submit"> Publicar </button>
                            </form>
                        </section>
                    </div>
                </main>