        <main class="main-content">
            <section id="vents">
                <div class="tabs">
                    <div class="tabs-links">
                        <button class="tab-links__recently" data-id="recently" data-open>Recentes</button>
                        <button class="tab-links__others" data-id="others">Outros</button>
                    </div>
                    <div class="line">  </div>

                    <div class="tab-content">
                        <section id="recently-vents">
                            <div class="vent-box">
                                <header class="vent-box__header">
                                    <div class="vent-box__profile">
                                        <img src="" alt="Foto do usuário">
                                        <h3> Matheus Pereira </h3>
                                    </div>
                                    <span> depressão </span>
                                </header>
                                <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                            </div>
                        </section>
                        <section id="recently-vents">
                            <div class="vent-box">
                                <header class="vent-box__header">
                                    <div class="vent-box__profile">
                                        <img src="" alt="Foto do usuário">
                                        <h3> Giovana Nunes </h3>
                                    </div>
                                    <div class="vent-box__tags">
                                        <span> família </span>
                                        <span> traição </span>
                                    </div>
                                </header>
                                <h1 class="vent-box__title">Fui traída pelo meu marido</h1>
                                <p class="vent-box__p">Meu nome é Giovana, e hoje eu quero compartilhar uma parte da minha vida que foi extremamente dolorosa: fui traída pelo meu marido. Lembro-me claramente do momento em que descobri a traição, como se fosse ontem. Nós tínhamos construído uma vida juntos, com sonhos.....</p>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </main>