            <div class="main-box">
                <main class="vent-content">
                    <section id="vents">
                        <div class="tabs">
                            <div class="tabs-links">
                                <button class="tab-links__recently" data-id="recently" data-open>Recentes</button>
                                <button class="tab-links__others" data-id="others">Outros</button>
                                <div class="line">  </div>
                            </div>
    
                            <div class="tab-content">
                                <section id="recently-vents">  
                                    <a href="">
                                        <div class="vent-box">
                                            <header class="vent-box__header">
                                                <div class="vent-box__header__profile">
                                                    <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                    <p> Matheus Pereira </p>
                                                </div>
                                                <div class="vent-box__header__tags">
                                                    <span> depressão </span>
                                                </div>
                                            </header>
                                            <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                            <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                                        </div>
                                    </a>       
                                    <a href="">
                                        <div class="vent-box">
                                            <header class="vent-box__header">
                                                <div class="vent-box__header__profile">
                                                    <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                    <p> Giovana Nunes </p>
                                                </div>
                                                <div class="vent-box__header__tags">
                                                    <span> família </span>
                                                    <span> traição </span>
                                                </div>
                                            </header>
                                            <h1 class="vent-box__title">Fui traída pelo meu marido</h1>
                                            <p class="vent-box__p">Meu nome é Giovana, e hoje eu quero compartilhar uma parte da minha vida que foi extremamente dolorosa: fui traída pelo meu marido. Lembro-me claramente do momento em que descobri a traição, como se fosse ontem. Nós tínhamos construído uma vida juntos, com sonhos.....</p>
                                        </div>
                                    </a> 
                                    <div class="other-pages">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.00122 12L4.29411 11.2929L3.58701 12L4.29411 12.7071L5.00122 12ZM17.0012 13C17.5535 13 18.0012 12.5523 18.0012 12C18.0012 11.4477 17.5535 11 17.0012 11V13ZM8.29411 7.29289L4.29411 11.2929L5.70833 12.7071L9.70833 8.70711L8.29411 7.29289ZM4.29411 12.7071L8.29411 16.7071L9.70833 15.2929L5.70833 11.2929L4.29411 12.7071ZM5.00122 13H17.0012V11H5.00122V13Z" fill="#222"/>
                                        </svg>
                                        <div class="other-pages-numbers">
                                            <a href="">1</a>
                                            <a href="">2</a>
                                            <a href="">3</a>
                                            <a href="">4</a>
                                        </div>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.0012 12L18.7083 11.2929L19.4154 12L18.7083 12.7071L18.0012 12ZM6.00122 13C5.44894 13 5.00122 12.5523 5.00122 12C5.00122 11.4477 5.44894 11 6.00122 11V13ZM14.7083 7.29289L18.7083 11.2929L17.2941 12.7071L13.2941 8.70711L14.7083 7.29289ZM18.7083 12.7071L14.7083 16.7071L13.2941 15.2929L17.2941 11.2929L18.7083 12.7071ZM18.0012 13H6.00122V11H18.0012V13Z" fill="#EF4056"/>
                                        </svg>     
                                    </div>                         
                                </section>
                                <section id="other-vents">
                                    <a href="">
                                        <div class="vent-box">
                                            <header class="vent-box__header">
                                                <div class="vent-box__header__profile">
                                                    <img src="../../../assets/images/profile-photo.jpg" alt="Foto do usuário">
                                                    <p> Matheus Pereira </p>
                                                </div>
                                                <div class="vent-box__header__tags">
                                                    <span> depressão </span>
                                                </div>
                                            </header>
                                            <h1 class="vent-box__title">A depressão está me consumindo</h1>
                                            <p class="vent-box__p">Meu nome é Matheus, e estou escrevendo este relato para compartilhar minha experiência com a depressão. Às vezes, parece que o mundo à minha volta está em tons de cinza, enquanto eu tento encontrar cores que se foram...</p>
                                        </div>
                                    </a>
                                </section>
                            </div>
                        </div>
                    </section>
                </main>