<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>Pronto Falei | Perfil</title>
    </head>
    <body>
        <%- include('../../components/pages/vent/ventHeader/ventHeader') %>
        <%- include('../../components/pages/vent/ventMenu/ventMenu') %>
        <%- include ('../Profile/profileUpdate.ejs') %>
        <script type="module" src="/js/profile.js"></script>
    </body>
</html>