    <div class="main-box">
         <section id="sign-up">
            <form enctype="multipart/form-data" class="profile-form form-content" action="/profile" method="post">
               <div class="update-image">
                  <img id="user-photo" src="../../../assets/images/profile-photo.png" alt="Imagem do usuário">
                  <label for="input-image">  
                     <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="20" cy="20" r="20" fill="#EF4056"/>
                        <path d="M12.5 18.2118C12.5 17.3585 13.1918 16.6667 14.0451 16.6667V16.6667C14.6303 16.6667 15.1653 16.3361 15.4271 15.8126L16.1111 14.4445C16.1138 14.4391 16.1151 14.4365 16.1164 14.434C16.4552 13.7609 17.1436 13.3355 17.8972 13.3334C17.9 13.3334 17.9029 13.3334 17.9089 13.3334H22.0911C22.0971 13.3334 22.1 13.3334 22.1028 13.3334C22.8564 13.3355 23.5448 13.7609 23.8836 14.434C23.8849 14.4365 23.8862 14.4391 23.8889 14.4445L24.5729 15.8126C24.8347 16.3361 25.3697 16.6667 25.9549 16.6667V16.6667C26.8082 16.6667 27.5 17.3585 27.5 18.2118V22.381C27.5 23.5779 27.5 24.1764 27.3316 24.6575C27.0301 25.5193 26.3526 26.1968 25.4908 26.4984C25.0097 26.6667 24.4112 26.6667 23.2143 26.6667H16.7857C15.5888 26.6667 14.9903 26.6667 14.5092 26.4984C13.6474 26.1968 12.9699 25.5193 12.6684 24.6575C12.5 24.1764 12.5 23.5779 12.5 22.381V18.2118Z" stroke="white" stroke-width="2"/>
                        <path d="M22.3332 20.8333C22.3332 22.122 21.2885 23.1667 19.9998 23.1667C18.7112 23.1667 17.6665 22.122 17.6665 20.8333C17.6665 19.5447 18.7112 18.5 19.9998 18.5C21.2885 18.5 22.3332 19.5447 22.3332 20.8333Z" stroke="white" stroke-width="2"/>
                     </svg>
                  </label>
                  <input type="file" name="user-photo" id="input-image" accept="image/jpeg, image/png, image/jpg"/>
               </div>
               <div class="flex-content">
                  <div class="input-content">
                     <div class="form__box">
                        <label for="username">Nome</label><br/>
                        <input class="form__box__input-box" type="text" name="username" id="username">
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="email">Email</label><br/>
                        <input class="form__box__input-box" type="text" name="email" id="email" placeholder=""/>
                        <p class="error-message">  </p>
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="user_password">Senha</label><br/>
                        <div class="form__box__input">
                           <input class="form__box__input-box" type="password" name="user_password" id="user_password"/>
                           <svg class="eye-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="12" cy="12" r="3" stroke="#EF4056" stroke-width="2"/>
                              <path d="M20.188 10.9343C20.5762 11.4056 20.7703 11.6412 20.7703 12C20.7703 12.3588 20.5762 12.5944 20.188 13.0657C18.7679 14.7899 15.6357 18 12 18C8.36427 18 5.23206 14.7899 3.81197 13.0657C3.42381 12.5944 3.22973 12.3588 3.22973 12C3.22973 11.6412 3.42381 11.4056 3.81197 10.9343C5.23206 9.21014 8.36427 6 12 6C15.6357 6 18.7679 9.21014 20.188 10.9343Z" stroke="#EF4056" stroke-width="2"/>
                           </svg>
                        </div>
                        <p class="error-message">  </p>
                     </div>
                  </div>
                  <div class="input-content">
                     <div class="form__box">
                        <label for="tel">Telefone</label><br/>
                        <input class="form__box__input-box" type="text" name="tel" id="tel" placeholder="">
                        <p class="error-message">  </p>
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="dt_birth">Data de nascimento</label><br/>
                        <input class="form__box__input-box" type="text" name="dt_birth" id="dt_birth" disabled/>
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="genre"> Gênero </label>
                        <select class="form__box__input-box" name="genre" id="genre">
                           <option value=""> Escolha de gênero </option>
                           <option value="1"> Masculino </option>
                           <option value="2"> Feminino </option>
                           <option value="3"> Outro </option>
                           <option value="4"> Prefiro não dizer </option>
                        </select>
                        <p class="error-message">  </p>
                     </div>
                  </div>
               </div>
               <p class="success-message"> Usuário atualizado com sucesso! </p>
               <div class="buttons">
                  <button class="btn-style btn-update">Salvar alterações</button> <!-- Arrumar os botões -->
                  <button class="btn-style btn-delete">Excluir conta</button>
               </div>
            </form>
        </section>