@use '../../modules/mixins';

#sign-up{
   width: 70%;
   font-family: 'Inter', sans-serif;
   margin: 0 auto;

   .section-title{
      padding: 5rem 0 4rem 0;
   }

   .form-content{
      .btn{
         margin-bottom: 1.5rem;
      }
   }

   .flex-content {
      display: flex;
      margin: 0 auto;
      max-width: 1400px;
      gap: 3rem;

      .input-content{
         width: 100%;
      }
   }

   .success-message{
      text-align: center;
   }

   span{
      margin-bottom: 2.5rem;
   }
}

@include mixins.second-small-screen{
   #sign-up{
      width: 90%;

      .flex-content{
         flex-direction: column;
         gap: 0rem;
      }
   }
}
