                <div class="line"></div>
                <footer id="footer">
                    <div class="vent-footer-content">
                        <span> © Pronto, Falei - 2024</span>
                        <nav class="vent-footer-content__nav">
                            <a class="footer-link__home" href="#home"><li class="list-item">Home</li></a>
                            <a class="footer-link__vents" href="#vents"><li class="list-item">Desabafar</li></a>
                        </nav>
                    </div>
                </footer>