   <section id="about-us">
      <div class="about-us-content">
         <div class="about-us-content__title">
            <h3 class="about-us-content__title__h3">Sobre nós</h3>
            <p class="about-us-content__title__p">Sinta-se acolhido para desabafar sobre o que quiser,<br/> antes de qualquer coisa, precisamos estar bem!</p>
         </div>
         <div class="about-us__info">
            <article class="about-us__info__box">
               <div class="about-us__info__box__title">
                  <div class="about-us__info__box__image">
                     <svg width="40" height="40" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.875 16.875L25.3308 26.6912C24.9049 27.3301 23.9478 27.2705 23.6044 26.5837L21.3956 22.1663C21.0522 21.4795 20.0951 21.4199 19.6692 22.0588L13.125 31.875" stroke="#EF4056" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="5.625" y="5.625" width="33.75" height="33.75" rx="2" stroke="#EF4056" stroke-width="3"/>
                     </svg>
                  </div>
                  <h3 class="about-us-content__h3"> Nosso objetivo </h3>
               </div>
               <p class="about-us__info__box__p">Nosso objetivo é fazer com que todos se sintam confortáveis para desabafar dentro da plataforma, seu bem-estar é o que nos move!</p>
            </article>
            <article class="about-us__info__box">
               <div class="about-us__info__box__title">
                  <div class="about-us__info__box__image">
                     <svg width="40" height="40" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 22.5C7.5 16.8923 7.5 14.0885 8.70577 12C9.49569 10.6318 10.6318 9.49569 12 8.70577C14.0885 7.5 16.8923 7.5 22.5 7.5V7.5C28.1077 7.5 30.9115 7.5 33 8.70577C34.3682 9.49569 35.5043 10.6318 36.2942 12C37.5 14.0885 37.5 16.8923 37.5 22.5V33.5C37.5 35.3856 37.5 36.3284 36.9142 36.9142C36.3284 37.5 35.3856 37.5 33.5 37.5H22.5C16.8923 37.5 14.0885 37.5 12 36.2942C10.6318 35.5043 9.49569 34.3682 8.70577 33C7.5 30.9115 7.5 28.1077 7.5 22.5V22.5Z" stroke="#EF4056" stroke-width="3"/>
                        <path d="M16.875 20.625L28.125 20.625" stroke="#EF4056" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.5 28.125H28.125" stroke="#EF4056" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <h3 class="about-us-content__h3"> Nosso público </h3>
               </div>               
               <p class="about-us__info__box__p">Nosso público são todas as pessoas, todo mundo precisa desabafar, não importa sobre o que seja, todo problema merece ser ouvido!</p>
            </article>
            <article class="about-us__info__box">
               <div class="about-us__info__box__title">
                  <div class="about-us__info__box__image">
                     <svg width="40" height="40" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.7111 38.4806L20.0403 39.8222H20.0403L20.7111 38.4806ZM24.2889 38.4806L24.9597 39.8222H24.9597L24.2889 38.4806ZM25.1444 38.0528L25.8152 39.3944L25.1444 38.0528ZM26.2861 36.2646L24.7886 36.1771L26.2861 36.2646ZM26.0832 37.4332L24.8308 36.6077L26.0832 37.4332ZM19.8556 38.0528L20.5264 36.7111L19.8556 38.0528ZM18.9168 37.4332L17.6644 38.2587L18.9168 37.4332ZM16.1839 28.0609L17.027 26.8204L16.1839 28.0609ZM16.9384 28.9289L18.3101 28.3219L16.9384 28.9289ZM16.6828 28.4467L17.8347 27.4859L16.6828 28.4467ZM28.8162 28.0609L29.6593 29.3015L28.8162 28.0609ZM28.0616 28.9289L26.6899 28.3219L28.0616 28.9289ZM28.3172 28.4467L27.1653 27.4859L28.3172 28.4467ZM32.25 18.75C32.25 22.1043 30.5575 25.0637 27.973 26.8204L29.6593 29.3015C33.0305 27.0102 35.25 23.1396 35.25 18.75H32.25ZM22.5 9C27.8848 9 32.25 13.3652 32.25 18.75H35.25C35.25 11.7084 29.5416 6 22.5 6V9ZM12.75 18.75C12.75 13.3652 17.1152 9 22.5 9V6C15.4584 6 9.75 11.7084 9.75 18.75H12.75ZM17.027 26.8204C14.4425 25.0637 12.75 22.1043 12.75 18.75H9.75C9.75 23.1396 11.9695 27.0102 15.3407 29.3015L17.027 26.8204ZM20.2114 36.1771C20.0529 33.4634 19.4079 30.8028 18.3101 28.3219L15.5667 29.5359C16.5193 31.6887 17.0789 33.9973 17.2165 36.3521L20.2114 36.1771ZM21.382 37.1389L20.5264 36.7111L19.1848 39.3944L20.0403 39.8222L21.382 37.1389ZM23.618 37.1389C22.9142 37.4908 22.0858 37.4908 21.382 37.1389L20.0403 39.8222C21.5887 40.5964 23.4113 40.5964 24.9597 39.8222L23.618 37.1389ZM24.4736 36.7111L23.618 37.1389L24.9597 39.8222L25.8152 39.3944L24.4736 36.7111ZM26.6899 28.3219C25.5921 30.8028 24.9471 33.4634 24.7886 36.1771L27.7835 36.3521C27.9211 33.9973 28.4807 31.6887 29.4333 29.5359L26.6899 28.3219ZM25.8152 39.3944C26.0534 39.2753 26.3263 39.1406 26.5511 39.0002C26.7997 38.8448 27.0983 38.6186 27.3356 38.2587L24.8308 36.6077C24.9203 36.4718 25.0133 36.4235 24.9612 36.4561C24.9328 36.4739 24.8839 36.502 24.7975 36.5472C24.711 36.5924 24.609 36.6434 24.4736 36.7111L25.8152 39.3944ZM24.7886 36.1771C24.7792 36.3383 24.7719 36.462 24.7639 36.5681C24.7558 36.6742 24.7487 36.7388 24.7426 36.7797C24.7301 36.8638 24.734 36.7546 24.8308 36.6077L27.3356 38.2587C27.5801 37.8877 27.667 37.5091 27.7098 37.2223C27.7497 36.9546 27.7667 36.6395 27.7835 36.3521L24.7886 36.1771ZM17.2165 36.3521C17.2333 36.6395 17.2503 36.9546 17.2902 37.2223C17.333 37.5091 17.4199 37.8877 17.6644 38.2587L20.1692 36.6077C20.266 36.7546 20.2699 36.8638 20.2574 36.7797C20.2513 36.7388 20.2442 36.6742 20.2361 36.5681C20.2281 36.462 20.2208 36.3383 20.2114 36.1771L17.2165 36.3521ZM20.5264 36.7111C20.391 36.6434 20.289 36.5924 20.2025 36.5472C20.1161 36.502 20.0672 36.4739 20.0388 36.4561C19.9867 36.4235 20.0797 36.4718 20.1692 36.6077L17.6644 38.2587C17.9017 38.6186 18.2003 38.8448 18.4489 39.0002C18.6737 39.1406 18.9466 39.2753 19.1848 39.3944L20.5264 36.7111ZM15.3407 29.3015C15.4105 29.349 15.4639 29.3853 15.5094 29.4169C15.5549 29.4484 15.5823 29.4682 15.5996 29.4812C15.6362 29.5088 15.5909 29.4795 15.531 29.4076L17.8347 27.4859C17.5762 27.176 17.2147 26.9479 17.027 26.8204L15.3407 29.3015ZM18.3101 28.3219C18.2306 28.1423 18.0892 27.791 17.8347 27.4859L15.531 29.4076C15.5092 29.3814 15.4917 29.3567 15.4791 29.3368C15.4675 29.3187 15.4634 29.3099 15.4677 29.3181C15.4725 29.3275 15.482 29.347 15.4997 29.3858C15.5176 29.425 15.5381 29.4713 15.5667 29.5359L18.3101 28.3219ZM27.973 26.8204C27.7853 26.9479 27.4238 27.176 27.1653 27.4859L29.469 29.4076C29.4091 29.4795 29.3638 29.5088 29.4004 29.4812C29.4177 29.4682 29.4451 29.4484 29.4906 29.4169C29.5361 29.3853 29.5895 29.349 29.6593 29.3015L27.973 26.8204ZM29.4333 29.5359C29.4619 29.4713 29.4824 29.425 29.5003 29.3858C29.518 29.347 29.5275 29.3275 29.5323 29.3181C29.5366 29.3099 29.5325 29.3187 29.5209 29.3368C29.5083 29.3567 29.4908 29.3814 29.469 29.4076L27.1653 27.4859C26.9108 27.791 26.7694 28.1423 26.6899 28.3219L29.4333 29.5359Z" fill="#EF4056"/>
                        <path d="M28.1105 30V30C24.7148 32.2698 20.2859 32.2698 16.8901 30V30" stroke="#EF4056" stroke-width="3"/>
                     </svg>
                  </div>
                  <h3 class="about-us-content__h3"> Nossa ideia </h3>
               </div>
               <p class="about-us__info__box__p">Nossa ideia foi criar um espaço onde você se sinta confortável para desabafar, sempre pensando na acessibilidade de todos!</p>
            </article>
            <article class="about-us__info__box">
               <div class="about-us__info__box__title">
                  <div class="about-us__info__box__image">
                     <svg width="40" height="40" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="22.5" cy="15" r="6" stroke="#EF4056" stroke-width="3" stroke-linecap="round"/>
                        <path d="M28.3026 14.8125C28.8497 13.8651 29.7506 13.1737 30.8074 12.8906C31.8641 12.6074 32.9901 12.7556 33.9375 13.3026C34.8849 13.8497 35.5763 14.7506 35.8594 15.8074C36.1426 16.8641 35.9944 17.9901 35.4474 18.9375C34.9003 19.8849 33.9994 20.5763 32.9426 20.8594C31.8859 21.1426 30.7599 20.9944 29.8125 20.4474C28.8651 19.9003 28.1737 18.9994 27.8906 17.9426C27.6074 16.8859 27.7556 15.7599 28.3026 14.8125L28.3026 14.8125Z" stroke="#EF4056" stroke-width="3"/>
                        <path d="M9.55265 14.8125C10.0997 13.8651 11.0006 13.1737 12.0574 12.8906C13.1141 12.6074 14.2401 12.7556 15.1875 13.3026C16.1349 13.8497 16.8263 14.7506 17.1094 15.8074C17.3926 16.8641 17.2444 17.9901 16.6974 18.9375C16.1503 19.8849 15.2494 20.5763 14.1926 20.8594C13.1359 21.1426 12.0099 20.9944 11.0625 20.4474C10.1151 19.9003 9.42371 18.9994 9.14056 17.9426C8.8574 16.8859 9.00564 15.7599 9.55265 14.8125L9.55265 14.8125Z" stroke="#EF4056" stroke-width="3"/>
                        <path d="M31.653 33.75L30.1825 34.0462L30.425 35.25H31.653V33.75ZM39.1436 32.6442L40.5937 32.2603V32.2603L39.1436 32.6442ZM27.714 27.5822L26.8067 26.3877L25.0719 27.7054L26.9218 28.856L27.714 27.5822ZM38.2422 32.25H31.653V35.25H38.2422V32.25ZM37.6936 33.0281C37.6406 32.8279 37.6964 32.6081 37.8228 32.4562C37.9408 32.3142 38.101 32.25 38.2422 32.25V35.25C39.703 35.25 41.0306 33.9108 40.5937 32.2603L37.6936 33.0281ZM31.875 27.75C33.8577 27.75 35.1363 28.5815 36.02 29.631C36.9446 30.7292 37.4446 32.0878 37.6936 33.0281L40.5937 32.2603C40.2904 31.1146 39.643 29.2762 38.3148 27.6987C36.9457 26.0727 34.8661 24.75 31.875 24.75V27.75ZM28.6213 28.7768C29.4063 28.1804 30.4454 27.75 31.875 27.75V24.75C29.7796 24.75 28.1053 25.4014 26.8067 26.3877L28.6213 28.7768ZM26.9218 28.856C28.9994 30.1482 29.8477 32.3835 30.1825 34.0462L33.1235 33.4538C32.723 31.4654 31.6178 28.2437 28.5062 26.3085L26.9218 28.856Z" fill="#EF4056"/>
                        <path d="M17.2859 27.5822L18.0781 28.856L19.9281 27.7054L18.1932 26.3877L17.2859 27.5822ZM5.8563 32.6442L4.40626 32.2603L4.40626 32.2603L5.8563 32.6442ZM13.3469 33.75V35.25H14.5749L14.8173 34.0462L13.3469 33.75ZM13.125 27.75C14.5545 27.75 15.5936 28.1804 16.3786 28.7767L18.1932 26.3877C16.8946 25.4014 15.2203 24.75 13.125 24.75V27.75ZM7.30634 33.0281C7.55528 32.0878 8.05533 30.7292 8.97998 29.631C9.86367 28.5815 11.1423 27.75 13.125 27.75V24.75C10.1339 24.75 8.05426 26.0727 6.68512 27.6987C5.35695 29.2762 4.70956 31.1146 4.40626 32.2603L7.30634 33.0281ZM6.75775 32.25C6.89892 32.25 7.05914 32.3142 7.17716 32.4562C7.30348 32.6081 7.35933 32.8279 7.30634 33.0281L4.40626 32.2603C3.96928 33.9108 5.29687 35.25 6.75775 35.25V32.25ZM13.3469 32.25H6.75775V35.25H13.3469V32.25ZM14.8173 34.0462C15.1522 32.3835 16.0004 30.1481 18.0781 28.856L16.4937 26.3085C13.3821 28.2437 12.2769 31.4654 11.8764 33.4538L14.8173 34.0462Z" fill="#EF4056"/>
                        <path d="M22.5 26.25C29.982 26.25 31.4928 32.2212 31.7978 34.6327C31.8671 35.1806 31.4273 35.625 30.875 35.625H14.125C13.5727 35.625 13.1329 35.1806 13.2022 34.6327C13.5072 32.2212 15.018 26.25 22.5 26.25Z" stroke="#EF4056" stroke-width="3" stroke-linecap="round"/>
                     </svg>
                  </div>
                  <h3 class="about-us__info__box__h3"> Nosso time </h3>
               </div>               
               <p class="about-us__info__box__p">Nosso público são todas as pessoas, todo mundo precisa desabafar, não importa sobre o que seja, todo problema merece ser ouvido!</p>
            </article>
         </div>
      </div>
   </section>
   <div class="line"></div>