<hr></hr>
<footer id="footer">
   <div class="footer-content">
      <a class="logo" href="#"> Pronto, Falei </a>
      <p class="footer-content__p"> © Copyright 2023. Todos os direitos reservados </p>
      <div class="footer-content__social-medias">
         <div class="footer-content__social-medias__box">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1" y="1" width="48" height="48" rx="24" stroke="#1373E5" stroke-width="2"/>
               <path d="M30 20C31.9891 20 33.8968 20.7902 35.3033 22.1967C36.7098 23.6032 37.5 25.5109 37.5 27.5V36.25H32.5V27.5C32.5 26.837 32.2366 26.2011 31.7678 25.7322C31.2989 25.2634 30.663 25 30 25C29.337 25 28.7011 25.2634 28.2322 25.7322C27.7634 26.2011 27.5 26.837 27.5 27.5V36.25H22.5V27.5C22.5 25.5109 23.2902 23.6032 24.6967 22.1967C26.1032 20.7902 28.0109 20 30 20Z" fill="#1373E5"/>
               <path d="M17.5 21.25H12.5V36.25H17.5V21.25Z" fill="#1373E5"/>
               <path d="M15 17.5C16.3807 17.5 17.5 16.3807 17.5 15C17.5 13.6193 16.3807 12.5 15 12.5C13.6193 12.5 12.5 13.6193 12.5 15C12.5 16.3807 13.6193 17.5 15 17.5Z" fill="#1373E5"/>
            </svg>
         </div>
         <div class="footer-content__social-medias__box">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1" y="1" width="48" height="48" rx="24" stroke="#222222" stroke-width="2"/>
               <path d="M21.5385 33.0038C16.1538 34.5019 16.1538 30.507 14 30.0076M29.0769 36V32.1349C29.1173 31.6587 29.0479 31.18 28.8734 30.7305C28.6989 30.2811 28.4232 29.8712 28.0646 29.5283C31.4462 29.1787 35 27.9902 35 22.5372C34.9997 21.1428 34.4214 19.8019 33.3846 18.792C33.8755 17.572 33.8408 16.2236 33.2877 15.0268C33.2877 15.0268 32.0169 14.6772 29.0769 16.5049C26.6086 15.8845 24.0068 15.8845 21.5385 16.5049C18.5985 14.6772 17.3277 15.0268 17.3277 15.0268C16.7746 16.2236 16.7398 17.572 17.2308 18.792C16.1863 19.8094 15.6073 21.1624 15.6154 22.5671C15.6154 27.9802 19.1692 29.1687 22.5508 29.5582C22.1965 29.8978 21.9232 30.3027 21.7488 30.7466C21.5744 31.1906 21.5027 31.6636 21.5385 32.1349V36" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
         </div>
         <div class="footer-content__social-medias__box">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1" y="1" width="48" height="48" rx="24" stroke="#7620E7" stroke-width="2"/>
               <path d="M30.7227 33.8578L31.7126 33.7157L30.7227 33.8578ZM30.3456 34.7903L29.7329 34L30.3456 34.7903ZM30.7227 16.1422L31.7126 16.2843L30.7227 16.1422ZM30.3456 15.2097L30.9582 14.4193L30.3456 15.2097ZM27.25 25C27.25 22.4602 28.3007 20.1676 29.9938 18.5301L28.6034 17.0925C26.5368 19.0912 25.25 21.8962 25.25 25H27.25ZM29.9938 31.4699C28.3007 29.8324 27.25 27.5398 27.25 25H25.25C25.25 28.1038 26.5368 30.9088 28.6034 32.9075L29.9938 31.4699ZM28.75 34C23.7794 34 19.75 29.9706 19.75 25H17.75C17.75 31.0751 22.6749 36 28.75 36V34ZM19.75 25C19.75 20.0294 23.7794 16 28.75 16V14C22.6749 14 17.75 18.9249 17.75 25H19.75ZM28.6034 32.9075C29.074 33.3627 29.3851 33.6646 29.5897 33.8942C29.6898 34.0064 29.7384 34.0731 29.7597 34.1073C29.7818 34.1429 29.7474 34.1008 29.7329 34L31.7126 33.7157C31.6412 33.2185 31.314 32.8229 31.0829 32.5635C30.8168 32.265 30.4402 31.9017 29.9938 31.4699L28.6034 32.9075ZM28.75 36C29.1699 36 29.5621 36.0013 29.88 35.9685C30.204 35.9352 30.6042 35.8551 30.9582 35.5807L29.7329 34C29.8165 33.9352 29.8606 33.96 29.6753 33.979C29.4839 33.9987 29.2135 34 28.75 34V36ZM29.7329 34V34L30.9582 35.5807C31.5267 35.14 31.8148 34.4277 31.7126 33.7157L29.7329 34ZM29.9938 18.5301C30.4402 18.0983 30.8168 17.735 31.0829 17.4365C31.314 17.1771 31.6412 16.7815 31.7126 16.2843L29.7329 16C29.7474 15.8992 29.7818 15.8571 29.7597 15.8927C29.7384 15.9269 29.6898 15.9936 29.5897 16.1058C29.3851 16.3354 29.074 16.6373 28.6034 17.0925L29.9938 18.5301ZM28.75 16C29.2135 16 29.4839 16.0013 29.6753 16.021C29.8606 16.04 29.8165 16.0648 29.7329 16L30.9582 14.4193C30.6042 14.1449 30.204 14.0648 29.88 14.0315C29.5621 13.9987 29.1699 14 28.75 14V16ZM31.7126 16.2843C31.8148 15.5723 31.5267 14.86 30.9582 14.4193L29.7329 16V16L31.7126 16.2843Z" fill="#7620E7"/>
            </svg>   
         </div>
      </div>
   </div>
</footer>