<header id="header">
   <div class="header-content">
      <a class="header-content__logo" href="#"> Pronto, Falei </a>
      <nav class="header-content__nav">
         <ul class="header-content__menu">
            <li class="header-content__menu__item"><a href="#introduce">Home</a></li>
            <li class="header-content__menu__item"><a href="#about-us">Sobre</a></li>
            <li class="header-content__menu__item"><a href="#talk-us">Contato</a></li>
         </ul>
      </nav>
      <a href="/login"><button class="btn">Entrar</button></a>
   </div>
</header>
<hr></hr>