<header id="header">
   <div class="header-content">
      <a class="header-content__logo" href="#"> Logo </a>
      <nav class="header-content__nav">
         <ul class="header-content__menu">
            <li class="header-content__menu__item"><a href="#">Home</a></li>
            <li class="header-content__menu__item"><a href="#">Sobre</a></li>
            <li class="header-content__menu__item"><a href="#">Contato</a></li>
         </ul>
      </nav>
      <a href="/login"><button class="btn-style">Entrar</button></a>
   </div>
   <hr></hr>
</header>