<main class="main">
   <section id="introduce">
      <div class="introduce-content">
         <h2 class="introduce-content__h2">Compartilhar o que você sente é fundamental</h2>
         <p class="introduce-content__p">Aqui é o lugar onde você pode desabafar sem ser julgado, afinal, todos nós precisamos falar<br/> com alguém, pois somos humanos, então, sinta-se livre para compartilhar sua dor</p>
         <a href="/login"><button class="btn"> Desabafar </button></a>
      </div>
   </section>





