   <section id="talk-us">
      <div class="talk-us-content">
         <div class="talk-us-content__title">
            <h3 class="talk-us-content__title__h3">Fale conosco</h3>
            <p class="talk-us-content__title__p">Envie sua mensagem, pode ser um feedback, agradecimento,<br/> melhorias que podemos realizar e diversos outros...</p>
         </div>
         <form class="talk-us-content__form" action="/" method="post">
            <div class="talk-us-content__form__box">
               <label for="nome">Nome</label><br/>
               <input class="input-box" type="text" name="nome" id="nome" placeholder="Afonso Ribeiro">
               <p class="error-message"> Nome inválido </p>
            </div>
            <div class="talk-us-content__form__box">
               <label for="email">Email</label><br/>
               <input class="input-box" type="text" name="email" id="email" placeholder="afonso@gmail.com">
               <p class="error-message"> Email inválido </p>
            </div>
            <div class="talk-us-content__form__box">  
               <label for="mensagem">Mensagem</label><br/>
               <textarea class="input-box" type="text" name="mensagem" id="mensagem" placeholder="Digite sua mensagem..."></textarea>
               <p class="error-message"> Digite sua mensagem </p>
            </div>
            <p class="success-message"> Formulário enviado com sucesso </p>
            <button class="talk-us-content__form__btn btn">Enviar</button>
         </form>
      </div>
   </section>
</main>
<div class="line"></div>