   <section id="talk-us">
      <div class="talk-us-content">
         <h3 class="about-us-content__h3">Fale conosco</h3>
         <form action="/" method="post">
            <div class="talk-us-content__box">
               <label for="nome">Nome</label><br/>
               <input type="text" name="nome" id="nome" placeholder="Afonso Ribeiro">
            </div>
            <div class="talk-us-content__box">
               <label for="email">Email</label><br/>
               <input type="text" name="email" id="email" placeholder="afonso@gmail.com">
            </div>
            <div class="talk-us-content__box">  
               <label for="mensagem">Mensagem</label><br/>
               <input type="text" name="mensagem" id="mensagem" placeholder="Para mandar feedbacks, agradecimentos, melhorias que podemos realizar dentro do site ou outras questões...">
            </div>
         </form>
      </div>
   </section>
</main>