         <div class="sign-up">
            <h3 class="section-title">Crie uma conta agora</h3>
            <form class="sign-up__form form-content" action="/" method="post">
               <div class="flex-content">
                  <div class="input-content">
                     <div class="form__box">
                        <label for="nome">Nome</label><br/>
                        <input class="form__box__input-box" type="text" name="nome" id="nome" placeholder="Maurício de Souza">
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="email-signup">Email</label><br/>
                        <input class="form__box__input-box" type="text" name="email" id="email-signup" placeholder="mauricio@gmail.com"/>
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="senha-signup">Senha</label><br/>
                        <input class="form__box__input-box" type="password" name="senha" id="senha-signup"/>
                        <p class="error-message">  </p>
                     </div>
                  </div>
                  <div class="input-content">
                     <div class="form__box">
                        <label for="tel">Telefone</label><br/>
                        <input class="form__box__input-box" type="text" name="tel" id="tel" placeholder="(11) 97612-1284">
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="dt_nascimento">Data de nascimento</label><br/>
                        <input class="form__box__input-box" type="date" name="dt_nascimento" id="dt_nascimento" placeholder="11/07/1995"/>
                        <p class="error-message">  </p>
                     </div>
                     <div class="form__box">
                        <label for="genre"> Gênero </label>
                        <select name="genre" id="genre">
                           <option value=""> Escolha de gênero </option>
                           <option value="1"> Masculino </option>
                           <option value="2"> Feminino </option>
                           <option value="3"> Outro </option>
                           <option value="4"> Prefiro não dizer </option>
                        </select>
                     </div>
                  </div>
               </div>
               <button class="btn">Entrar</button>
            </form>
            <span>Já possui uma conta? <a href=""><b>Entrar</b></a></span></a>
         </div>
      </main>
      <div class="line"></div>