            <div class="tab-content">
               <section id="login">
                  <h3 class="section-title">Seja Bem-Vindo de Volta</h3>
                  <form class="sign-in__form form-content" action="/login" method="post">
                     <div class="form__box">
                        <label for="email">Email</label><br/>
                        <input class="form__box__input-box" type="text" name="email" id="email" placeholder="afonsoribeiro@gmail.com">
                     </div>
                     <div class="form__box">
                        <label for="senha">Senha</label><br/>
                        <input class="form__box__input-box" type="password" name="senha" id="senha"/>
                     </div>
                     <button class="btn">Entrar</button>
                  </form>
                  <span>Ainda não tem uma conta? <a href=""><b>Cadastre-se</b></a></span></a>
               </section>