<main class="main-content">
   <section id="login">
      <h2 class="section-title">Seja Bem-Vindo de Volta</h2>
      <form class="sign-in__form form-content" action="/login" method="post">
         <div class="form__box">
            <label for="email">Email</label><br/>
            <input class="form__box__input-box" type="text" name="email" id="email" placeholder="afonsoribeiro@gmail.com">
         </div>
         <div class="form__box">
            <label for="user_password">Senha</label><br/>
            <div class="form__box__input">
               <input class="form__box__input-box" type="password" name="user_password" id="user_password"/>
               <svg class="eye-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="3" stroke="#EF4056" stroke-width="2"/>
                  <path d="M20.188 10.9343C20.5762 11.4056 20.7703 11.6412 20.7703 12C20.7703 12.3588 20.5762 12.5944 20.188 13.0657C18.7679 14.7899 15.6357 18 12 18C8.36427 18 5.23206 14.7899 3.81197 13.0657C3.42381 12.5944 3.22973 12.3588 3.22973 12C3.22973 11.6412 3.42381 11.4056 3.81197 10.9343C5.23206 9.21014 8.36427 6 12 6C15.6357 6 18.7679 9.21014 20.188 10.9343Z" stroke="#EF4056" stroke-width="2"/>
                  </svg>
            </div>   
         </div>
         <button class="btn">Entrar</button>
      </form>
      <span>Ainda não tem uma conta? <a href="/register"><b>Cadastre-se</b></a></span></a>
   </section>
</main>
<div class="line"></div>