<main class="main-content">
   <section id="account-content">
      <div class="register-login">
         <div class="tabs">
            <div class="tab-links">
               <button class="tab-links__login" data-id="login" data-open>Login</button>
               <button class="tab-links__signup" data-id="signup">Cadastro</button>
            </div>
            <div class="line">  </div>
         </div>