@use '../../base/variables';
@use '../../modules/displays';
@use '../../modules/mixins';

body.dark{
   .introduce-content{
      color: variables.$primary-color;
   }
}

.introduce-content{
   text-align: center;
   padding: 8rem 0;
   @extend %box-size;
   
   &__h2{
      font-size: clamp(2rem, 2.25rem, 2.5rem);
   }

   &__p{
      margin: 2.5rem 0;
   }
}

@include mixins.small-screen{
   .introduce-content{
      padding: 8rem 2.5rem;
   }

   br{
      display: none;
   }
}


