@use '../../base/variables';
@use '../../modules/displays';
@use '../../modules/mixins';

.talk-us-content{
   padding: 2rem 4rem 6rem 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   @extend %box-size;

   &__form{
      width: 45%;
      min-width: 350px;
      font-family: 'Inter', sans-serif;
   }
}

@include mixins.tablet-screen{
   .talk-us-content{
      &__form{
         width: 70%;
      }
   }
}